// 1
.ant-btn-success {
    color: #fff;
    background-color: #70b603;
    border-color: #70b603;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-success>a:only-child {
    color: currentColor;
}

.ant-btn-success>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.ant-btn-success:hover,
.ant-btn-success:focus {
    color: #fff;
    background-color: #7cbd14;
    border-color: #7cbd14;
}

.ant-btn-success:hover>a:only-child,
.ant-btn-success:focus>a:only-child {
    color: currentColor;
}

.ant-btn-success:hover>a:only-child::after,
.ant-btn-success:focus>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.ant-btn-success:active,
.ant-btn-success.active {
    color: #fff;
    background-color: #629b06;
    border-color: #629b06;
}

.ant-btn-success:active>a:only-child,
.ant-btn-success.active>a:only-child {
    color: currentColor;
}

.ant-btn-success:active>a:only-child::after,
.ant-btn-success.active>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.ant-btn-success-disabled,
.ant-btn-success.disabled,
.ant-btn-success[disabled],
.ant-btn-success-disabled:hover,
.ant-btn-success.disabled:hover,
.ant-btn-success[disabled]:hover,
.ant-btn-success-disabled:focus,
.ant-btn-success.disabled:focus,
.ant-btn-success[disabled]:focus,
.ant-btn-success-disabled:active,
.ant-btn-success.disabled:active,
.ant-btn-success[disabled]:active,
.ant-btn-success-disabled.active,
.ant-btn-success.disabled.active,
.ant-btn-success[disabled].active {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
}

.ant-btn-success-disabled>a:only-child,
.ant-btn-success.disabled>a:only-child,
.ant-btn-success[disabled]>a:only-child,
.ant-btn-success-disabled:hover>a:only-child,
.ant-btn-success.disabled:hover>a:only-child,
.ant-btn-success[disabled]:hover>a:only-child,
.ant-btn-success-disabled:focus>a:only-child,
.ant-btn-success.disabled:focus>a:only-child,
.ant-btn-success[disabled]:focus>a:only-child,
.ant-btn-success-disabled:active>a:only-child,
.ant-btn-success.disabled:active>a:only-child,
.ant-btn-success[disabled]:active>a:only-child,
.ant-btn-success-disabled.active>a:only-child,
.ant-btn-success.disabled.active>a:only-child,
.ant-btn-success[disabled].active>a:only-child {
    color: currentColor;
}

.ant-btn-success-disabled>a:only-child::after,
.ant-btn-success.disabled>a:only-child::after,
.ant-btn-success[disabled]>a:only-child::after,
.ant-btn-success-disabled:hover>a:only-child::after,
.ant-btn-success.disabled:hover>a:only-child::after,
.ant-btn-success[disabled]:hover>a:only-child::after,
.ant-btn-success-disabled:focus>a:only-child::after,
.ant-btn-success.disabled:focus>a:only-child::after,
.ant-btn-success[disabled]:focus>a:only-child::after,
.ant-btn-success-disabled:active>a:only-child::after,
.ant-btn-success.disabled:active>a:only-child::after,
.ant-btn-success[disabled]:active>a:only-child::after,
.ant-btn-success-disabled.active>a:only-child::after,
.ant-btn-success.disabled.active>a:only-child::after,
.ant-btn-success[disabled].active>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.ant-btn-group .ant-btn-success:not(:first-child):not(:last-child) {
    border-right-color: #7cbd14;
    border-left-color: #7cbd14;
}

.ant-btn-group .ant-btn-success:not(:first-child):not(:last-child):disabled {
    border-color: #d9d9d9;
}

.ant-btn-group .ant-btn-success:first-child:not(:last-child) {
    border-right-color: #7cbd14;
}

.ant-btn-group .ant-btn-success:first-child:not(:last-child)[disabled] {
    border-right-color: #d9d9d9;
}

.ant-btn-group .ant-btn-success:last-child:not(:first-child),
.ant-btn-group .ant-btn-success+.ant-btn-success {
    border-left-color: #7cbd14;
}

.ant-btn-group .ant-btn-success:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-success+.ant-btn-success[disabled] {
    border-left-color: #d9d9d9;
}

// 2
.ant-btn-group .ant-btn-success+.ant-btn:not(.ant-btn-success):not([disabled]) {
    border-left-color: transparent;
}

// 3
.ant-btn-background-ghost.ant-btn-success {
    color: #70b603;
    background-color: transparent;
    border-color: #70b603;
    text-shadow: none;
}

.ant-btn-background-ghost.ant-btn-success>a:only-child {
    color: currentColor;
}

.ant-btn-background-ghost.ant-btn-success>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.ant-btn-background-ghost.ant-btn-success:hover,
.ant-btn-background-ghost.ant-btn-success:focus {
    color: #7cbd14;
    background-color: transparent;
    border-color: #7cbd14;
}

.ant-btn-background-ghost.ant-btn-success:hover>a:only-child,
.ant-btn-background-ghost.ant-btn-success:focus>a:only-child {
    color: currentColor;
}

.ant-btn-background-ghost.ant-btn-success:hover>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success:focus>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.ant-btn-background-ghost.ant-btn-success:active,
.ant-btn-background-ghost.ant-btn-success.active {
    color: #629b06;
    background-color: transparent;
    border-color: #629b06;
}

.ant-btn-background-ghost.ant-btn-success:active>a:only-child,
.ant-btn-background-ghost.ant-btn-success.active>a:only-child {
    color: currentColor;
}

.ant-btn-background-ghost.ant-btn-success:active>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success.active>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.ant-btn-background-ghost.ant-btn-success-disabled,
.ant-btn-background-ghost.ant-btn-success.disabled,
.ant-btn-background-ghost.ant-btn-success[disabled],
.ant-btn-background-ghost.ant-btn-success-disabled:hover,
.ant-btn-background-ghost.ant-btn-success.disabled:hover,
.ant-btn-background-ghost.ant-btn-success[disabled]:hover,
.ant-btn-background-ghost.ant-btn-success-disabled:focus,
.ant-btn-background-ghost.ant-btn-success.disabled:focus,
.ant-btn-background-ghost.ant-btn-success[disabled]:focus,
.ant-btn-background-ghost.ant-btn-success-disabled:active,
.ant-btn-background-ghost.ant-btn-success.disabled:active,
.ant-btn-background-ghost.ant-btn-success[disabled]:active,
.ant-btn-background-ghost.ant-btn-success-disabled.active,
.ant-btn-background-ghost.ant-btn-success.disabled.active,
.ant-btn-background-ghost.ant-btn-success[disabled].active {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
}

.ant-btn-background-ghost.ant-btn-success-disabled>a:only-child,
.ant-btn-background-ghost.ant-btn-success.disabled>a:only-child,
.ant-btn-background-ghost.ant-btn-success[disabled]>a:only-child,
.ant-btn-background-ghost.ant-btn-success-disabled:hover>a:only-child,
.ant-btn-background-ghost.ant-btn-success.disabled:hover>a:only-child,
.ant-btn-background-ghost.ant-btn-success[disabled]:hover>a:only-child,
.ant-btn-background-ghost.ant-btn-success-disabled:focus>a:only-child,
.ant-btn-background-ghost.ant-btn-success.disabled:focus>a:only-child,
.ant-btn-background-ghost.ant-btn-success[disabled]:focus>a:only-child,
.ant-btn-background-ghost.ant-btn-success-disabled:active>a:only-child,
.ant-btn-background-ghost.ant-btn-success.disabled:active>a:only-child,
.ant-btn-background-ghost.ant-btn-success[disabled]:active>a:only-child,
.ant-btn-background-ghost.ant-btn-success-disabled.active>a:only-child,
.ant-btn-background-ghost.ant-btn-success.disabled.active>a:only-child,
.ant-btn-background-ghost.ant-btn-success[disabled].active>a:only-child {
    color: currentColor;
}

.ant-btn-background-ghost.ant-btn-success-disabled>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success.disabled>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success[disabled]>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success-disabled:hover>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success.disabled:hover>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success[disabled]:hover>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success-disabled:focus>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success.disabled:focus>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success[disabled]:focus>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success-disabled:active>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success.disabled:active>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success[disabled]:active>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success-disabled.active>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success.disabled.active>a:only-child::after,
.ant-btn-background-ghost.ant-btn-success[disabled].active>a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}